/* 
Brytpunkter:
MOBILE = 300-479px (egentligen allt under 480px, men det är kravsatt att det inte ska gå att scrolla i sidled för ens under 300px)
TABLETS = min-width 480px (480-767px)
LAPTOPS = min width 768px (768-991px)
DESKTOP LOW-RES = min width 992px (992-1199px)
DESKTOP MED-RES = min width 1200px (1200-1599px)
DESKTOP HIGH-RES = min width 1600px
Krav: "Webbplatsen ska se bra ut även i alla storlekar mellan ovan nämnda brytpunkter"
--MOBILE FIRST!--
*/

h2,
h3 {
    text-transform: none;
    text-align: center;
}

h2 {
    margin: 0px;
}

h3 {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}