.courses__headline {
  text-transform: none;
  text-align: center;
  margin: 0px;
  margin-bottom: 1rem;
}

.courses__table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0px;
  border: none;
}

.courses__table-tr,
.courses__table-td {
  display: block;
}

/* Mobile Boarders*/

.courses__table-tr--radius-top {
  border-radius: 10px 10px 0 0;
}

.courses__table-tr--radius-bottom {
  border-radius: 0 0 10px 10px;
}

.courses_table-body {
  border: 2px solid var(--clr1DarkDesat);
}

/*Hide thead for mobile*/

.courses__thead {
  background: var(--clr1DarkDesat);
  border: 2px solid var(--clr1DarkDesat);
  color: var(--clr1VeryLightDesat);
  display: none;
}

.courses__table-tr--bgcolor1 {
  background-color: var(--clr1Light);
}

/* Mobile TD things*/

.courses__table-td,
.courses__table-th {
  padding: var(--box1);
}

.courses__table-td--mobile-text1::before,
.courses__table-td--mobile-text2::before,
.courses__table-td--mobile-text3::before,
.courses__table-td--mobile-text4::before,
.courses__table-td--mobile-text5::before,
.courses__table-td--mobile-text6::before,
.courses__table-td--mobile-text7::before,
.courses__table-td--mobile-text8::before {
  font-weight: bold;
}

.courses__table-td--mobile-text1::before {
  content: "Kurskod: ";
}

.courses__table-td--mobile-text2::before {
  content: "Kursnamn: ";
}

.courses__table-td--mobile-text3::before {
  content: "Period: ";
}

.courses__table-td--mobile-text4::before {
  content: "Roll: ";
}

.courses__table-td--mobile-text5::before {
  content: "SY: ";
}

.courses__table-td--mobile-text6::before {
  content: "IT: ";
}

.courses__table-td--mobile-text7::before {
  content: "ID: ";
}

.courses__table-td--mobile-text8::before {
  content: "GD: ";
}

/* Tablets:*/

@media only screen and (min-width: 480px) {
  /*Restring display values*/
  .courses__table-td {
    display: table-cell;
  }

  .courses__table-tr {
    display: table-row;
  }

  .courses__thead {
    display: table-header-group;
  }

  /*clear before content*/
  .courses__table-td--mobile-text1::before,
  .courses__table-td--mobile-text2::before,
  .courses__table-td--mobile-text3::before,
  .courses__table-td--mobile-text4::before,
  .courses__table-td--mobile-text5::before,
  .courses__table-td--mobile-text6::before,
  .courses__table-td--mobile-text7::before,
  .courses__table-td--mobile-text8::before {
    content: none;
  }

  /*Hide mobile only emelement*/

  .courses__table-td--tablet-hidden {
    display: none;
  }

  /*Styleing*/
  .courses__table-td--tablet {
    text-align: center;
  }

  .courses__table-tr--bgcolor1-tablet {
    background-color: var(--clr1Light);
  }

  /*Fixes table on Chrome*/
  /* .table__resp tbody tr:nth-child(10) td:nth-child(2) {
    border-bottom: 2px solid var(--clr1DarkDesat);
  } */
}

/*Laptops:*/

@media only screen and (min-width: 768px) {
}

/*Desktops, low resolution:*/

@media only screen and (min-width: 992px) {
}

/*Desktops, medium resolution:*/

@media only screen and (min-width: 1200px) {
}

/*Desktops, high resolution:*/

@media only screen and (min-width: 1600px) {
}
