.image {
  background-image: url("../../img/webp/background_xs.webp");
  background-position: 50% 50%;
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  max-width: 1280px;
}

.image__portrait {
  border-radius: 15px 50px;
  width: 125px;
  border: 2px solid whitesmoke;
  margin: auto;
}

@media (min-width: 480px) {
  .image {
    background-image: url("../../img/webp/background_sm.webp");
  }
}

@media (min-width: 768px) {
  .image {
    background-image: url("../../img/webp/background_md.webp");
    display: block;
  }

  .image__portrait {
    position: absolute;
    left: 2%;
    bottom: -7rem;
    width: 150px;
  }
}

@media (min-width: 992px) {
  .image {
    background-image: url("../../img/webp/background_lg.webp");
  }

  .image__portrait {
    left: 10%;
  }
}

@media (min-width: 1200px) {
  .image {
    background-image: url("../../img/webp/background_xl.webp");
  }

  .image__portrait {
    left: 12%;
  }
}

@media (min-width: 1600px) {
}
