.knowledge {
  text-align: center;
}

.knowledge__headline {
  margin-bottom: 1rem;
  text-transform: none;
}

.knowledge__section {
  justify-content: center;
  align-items: center;
  margin: 0.5em 0em 1em 0em;
}

.knowledge__subheader {
  font-size: 1.8rem;
  font-weight: 700;
}

/*Progress for Chrome and Mozilla*/

.knowledge__prog {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25rem;
  height: 1.2rem;
  background-color: var(--clr1LightDesat);
}

.knowledge__prog::-moz-progress-bar {
  background-color: var(--clr1DarkDesat);
}

.knowledge__prog::-webkit-progress-bar {
  background-color: var(--clr1LightDesat);
}

.knowledge__prog::-webkit-progress-value {
  background-color: var(--clr1DarkDesat);
}

.knowledge__label {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .knowledge {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 60%;
    align-items: flex-start;
  }

  .knowledge__headline {
    width: 100%;
  }

  .knowledge__section {
    width: 50%;
  }

  .knowledge__prog {
    width: 20rem;
  }
}

@media (min-width: 1200px) {
  .knowledge__prog {
  }
}
