.personal {
  max-width: 1280px;
}

.personal__name {
  margin: 0px;
  text-transform: none;
  text-align: center;
}

.personal__title {
  margin-bottom: 1rem;
  text-transform: none;
  text-align: center;
}

.personal__info {
  list-style-type: none;
  padding-left: 0px;
  margin: 5px 0px 0px 0px;
  text-align: center;
}
