.profile {
    max-width: 1280px;
}

.profile__images {
  background-image: url("../../img/webp/background_xs.webp");
  background-position: 50% 50%;
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
}

.profile__portrait {
  border-radius: 15px 50px;
  height:150px;
  border: 2px solid whitesmoke;
  margin: auto;
}

@media (min-width: 480px) {
  .profile__images {
    background-image: url("../../img/webp/background_sm.webp");
  }
}

@media (min-width: 768px) {
  .profile__images {
    background-image: url("../../img/webp/background_md.webp");
    display: block;
  }
  .profile__portrait{
      position: absolute;
      left:6%;
      bottom:-7rem;
  }
}

@media (min-width: 992px) {
  .profile__images {
    background-image: url("../../img/webp/background_lg.webp");
  }
  .profile__portrait {
    left:10%;
  }
}

@media (min-width: 1200px) {
  .profile__images {
    background-image: url("../../img/webp/background_xl.webp");
  }
  .profile__portrait {
    left:12%;
  }
}

@media (min-width: 1600px) {
}
