/*
Table things 
Do not touch the Holy table aka sexy table! Or feel the wrath of the almighty Table Gods.

First rule of Table Club
1.We do not talk about tables!
2.We do not talk about tables!
3.We do not talk about tables!
*/

.table__responsibilities {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0px;
    border:none;
}

.table__responsibilities tr,
.table__responsibilities td,
.table__mobilevisible {
    display: block;
}

/* Mobile Boarders*/
.table__responsibilities tr {
    border-left: 2px solid darkgrey;
    border-right: 2px solid darkgrey;
}

.table__responsibilities tr:first-child {
    border-top: 2px solid darkgrey;
    border-radius: 10px 10px 0 0 ;
}
.table__responsibilities tr:last-child {
    border-bottom: 2px solid darkgrey;
    border-radius: 0 0 10px 10px ;
}

/*Hide thead for mobile*/
.table__responsibilities thead {
    display: none;
}

.table__responsibilities tbody tr:nth-child(odd) {
    background-color: var(--clr1LightDesat);
}
/*Mobile coloring*/

.table__responsibilities tr td:nth-child(even){
}
.table__responsibilities tr td:nth-child(odd){
}

/* Mobile TD things*/

.table__responsibilities tbody td{
    padding: .5rem;
}

.table__responsibilities tbody td::before {
    font-weight: bold;
}

.table__responsibilities tbody td:nth-child(1)::before {
    content: "Kurskod: ";
}

.table__responsibilities tbody td:nth-child(2)::before {
    content: "Kursnamn: ";
}

.table__responsibilities tbody td:nth-child(3)::before {
    content: "Period: ";
}

.table__responsibilities tbody td:nth-child(4)::before {
    content: "Roll: ";
}

.table__responsibilities tbody td:nth-child(5)::before {
    content: "SY: ";
}

.table__responsibilities tbody td:nth-child(6)::before {
    content: "IT: ";
}

.table__responsibilities tbody td:nth-child(7)::before {
    content: "ID: ";
}

.table__responsibilities tbody td:nth-child(8)::before {
    content: "GD: ";
}


/* Tablets:*/

@media only screen and (min-width: 480px) {

    /*Resetting display*/
    .table__responsibilities td {
        display: table-cell;
    }
    .table__responsibilities tr {
        display: table-row;
    }
    .table__responsibilities thead {
        display: table-header-group;
    }
    /*clear before content*/
    .table__responsibilities tbody td:nth-child(1)::before,
    .table__responsibilities tbody td:nth-child(2)::before,
    .table__responsibilities tbody td:nth-child(3)::before,
    .table__responsibilities tbody td:nth-child(4)::before,
    .table__responsibilities tbody td:nth-child(5)::before,
    .table__responsibilities tbody td:nth-child(6)::before,
    .table__responsibilities tbody td:nth-child(7)::before,
    .table__responsibilities tbody td:nth-child(8)::before {
        content: none;
    }
    /*Hide mobile only emelement*/
    .table__responsibilities .table__mobilevisible{
        display: none;
    }
    /*Styleing*/
    .table__responsibilities td{
        text-align: center;
    }
    .table__responsibilities td:nth-child(2){
        text-align: left;
    }
}


/*o Laptops:*/

@media only screen and (min-width: 768px) {
    
}


/*o Desktops, low resolution:*/

@media only screen and (min-width: 992px) {}


/*o Desktops, medium resolution:*/

@media only screen and (min-width: 1200px) {}


/*o Desktops, high resolution:*/

@media only screen and (min-width: 1600px) {}
