.table__headline {
  text-transform: none;
  text-align: center;
  margin: 0px;
  margin-bottom: 1rem;
}

.table__resp {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0px;
  border: none;
}

.table__resp tr,
.table__resp td,
.table__mobilevisible {
  display: block;
}

/* Mobile Boarders*/

.table__resp tbody tr {
  border-left: 2px solid var(--clr1DarkDesat);
  border-right: 2px solid var(--clr1DarkDesat);
}

.table__resp tbody tr:first-child {
  border-top: 2px solid var(--clr1DarkDesat);
  border-radius: 10px 10px 0 0;
}

.table__resp tbody tr:last-child {
  border-bottom: 2px solid var(--clr1DarkDesat);
  border-radius: 0 0 10px 10px;
}

/*Hide thead for mobile*/

.table__resp thead {
  display: none;
}

.table__resp tbody tr:nth-child(even) {
  background-color: var(--clr1Light);
}

/* Mobile TD things*/

.table__resp td {
  padding: var(--box1);
}

.table__resp td::before {
  font-weight: bold;
}

.table__resp td:nth-child(1)::before {
  content: "Kurskod: ";
}

.table__resp td:nth-child(2)::before {
  content: "Kursnamn: ";
}

.table__resp td:nth-child(3)::before {
  content: "Period: ";
}

.table__resp td:nth-child(4)::before {
  content: "Roll: ";
}

.table__resp td:nth-child(5)::before {
  content: "SY: ";
}

.table__resp td:nth-child(6)::before {
  content: "IT: ";
}

.table__resp td:nth-child(7)::before {
  content: "ID: ";
}

.table__resp td:nth-child(8)::before {
  content: "GD: ";
}

/* Tablets:*/

@media only screen and (min-width: 480px) {
  /*Resetting display*/
  .table__resp td {
    display: table-cell;
  }
  .table__resp tr {
    display: table-row;
  }
  .table__resp thead {
    display: table-header-group;
  }
  /*clear before content*/
  .table__resp td:nth-child(1)::before,
  .table__resp td:nth-child(2)::before,
  .table__resp td:nth-child(3)::before,
  .table__resp td:nth-child(4)::before,
  .table__resp td:nth-child(5)::before,
  .table__resp td:nth-child(6)::before,
  .table__resp td:nth-child(7)::before,
  .table__resp td:nth-child(8)::before {
    content: none;
  }
  /*Hide mobile only emelement*/
  .table__resp .table__mobilevisible {
    display: none;
  }
  /*Styleing*/
  .table__resp td {
    text-align: center;
  }
  .table__resp td:nth-child(2) {
    text-align: left;
  }
  .table__resp tbody tr:nth-child(11) {
    background-color: var(--clr1Light);
  }
  .table__resp .table__head {
    background: var(--clr1DarkDesat);
    border: 2px solid var(--clr1DarkDesat);
    color: var(--clr1VeryLightDesat);
  }
  .table__resp .table__head th {
    padding: var(--box1);
  }
}

/*o Laptops:*/

@media only screen and (min-width: 768px) {
}

/*o Desktops, low resolution:*/

@media only screen and (min-width: 992px) {
}

/*o Desktops, medium resolution:*/

@media only screen and (min-width: 1200px) {
}

/*o Desktops, high resolution:*/

@media only screen and (min-width: 1600px) {
}
